{% extends "blog/base.html" %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">
        {% if posts %}
          <div class="card-grid">
            {% for post in posts %}
              {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          </div>
        {% else %}
          <div class="not-found center">
            <h1>Nothing found here 😣</h1>
            <p>Nothing found here, please return to the <a href="{% url 'blog:index' %}">home page</a> then select another article.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}

